<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Vehicle</title>
</head>
<body>
<h1>Create Vehicle</h1>
<!--/*@thymesVar id="vehicle" type="ru.meklaw.autodrome.dto.VehicleDTO"*/-->
<form method="post" th:action="@{/vehicles}" th:object="${vehicle}">
    <input th:field="*{id}" type="hidden"/>
    <input th:field="*{buyDateTimeUtc}" type="hidden"/>

    <label for="number">Number:</label>
    <input id="number" th:field="*{number}" type="text"/><br/>

    <label for="cost">Cost:</label>
    <input id="cost" th:field="*{cost}" type="number"/><br/>

    <label for="yearOfProduction">Year of Production:</label>
    <input id="yearOfProduction" th:field="*{yearOfProduction}" type="number"/><br/>

    <label for="mileage">Mileage:</label>
    <input id="mileage" th:field="*{mileage}" type="number"/><br/>

    <label for="brand">Brand:</label>
    <select id="brand" th:field="*{vehicleBrandId}">
        <option th:each="brand : ${brands}" th:text="${brand.name}" th:value="${brand.id}"></option>
    </select><br/>

    <input th:field="*{enterpriseId}" th:if="${enterprises == null}" type="hidden"/>

    <th:block th:if="${enterprises}">
        <label for="enterprise">Enterprise:</label>
        <select id="enterprise" th:field="*{enterpriseId}">
            <option th:each="enterprise : ${enterprises}" th:text="${enterprise.name}"
                    th:value="${enterprise.id}"></option>
        </select><br/>
    </th:block>

    <input type="submit" value="Save"/>
</form>
<br/>
<a th:href="@{/vehicles}" th:text="'Back to all vehicles'"></a>
</body>
</html>
