<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Vehicle</title>
</head>
<body>
<h1>Edit Vehicle</h1>
<form th:action="@{/vehicles/{id}(id=${vehicle.id})}" th:object="${vehicle}" th:method="PUT">
  <input type="hidden" th:field="*{id}" />

  <label>Number:</label>
  <input type="text" th:field="*{number}" /><br />

  <label>Cost:</label>
  <input type="number" th:field="*{cost}" /><br />

  <label>Year of Production:</label>
  <input type="number" th:field="*{yearOfProduction}" /><br />

  <label>Mileage:</label>
  <input type="number" th:field="*{mileage}" /><br />

  <label>Brand:</label>
  <select th:field="*{vehicleBrandId}">
    <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
  </select><br />

  <label>Enterprise:</label>
  <select th:field="*{enterpriseId}">
    <option th:each="enterprise : ${enterprises}" th:value="${enterprise.id}" th:text="${enterprise.name}"></option>
  </select><br />

  <input type="submit" value="Save" />
</form>
<a th:href="@{/vehicles}" th:text="'Back to all vehicles'"></a>
</body>
</html>
