<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Vehicle</title>
</head>
<body>
<!--/*@thymesVar id="vehicle" type="ru.meklaw.autodrome.dto.VehicleDTO"*/-->
<p th:text="'ID: ' + ${vehicle.id}"></p>
<p th:text="'Number: ' + ${vehicle.number}"></p>
<p th:text="'Cost: ' + ${vehicle.cost}"></p>
<p th:text="'Year of Production: ' + ${vehicle.yearOfProduction}"></p>
<p th:text="'Mileage: ' + ${vehicle.mileage}"></p>
<p th:text="'Brand: ' + ${vehicle.vehicleBrandId}"></p>
<p th:text="'Enterprise: ' + ${vehicle.enterpriseId}"></p>
<p th:text="'Buy date time (local): ' + ${vehicle.buyDateTimeUtc.toString()}"></p>

<p>Trips:</p>
<div th:each="trip : ${trips}">
    <a th:href="@{/gps/trip/{id}(id=${trip.id})}"
       th:text="'ID: ' + ${trip.id} + ', Number: ' + ${trip.startTimeUtc} + ', Cost: ' + ${trip.endTimeUtc}"></a>
</div>

<br/>
<a th:href="@{/vehicles/{id}/edit(id=${vehicle.id})}" th:text="'Edit'"></a>

<form method="post" th:action="@{/vehicles/{id}(id=${vehicle.id})}" th:method="delete">
    <br/>
    <button type="submit">Delete</button>
</form>

<br/>
<a th:href="@{/enterprises}" th:text="'Enterprises'"></a>
</body>
</html>
