<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Vehicle Brands</title>
</head>
<body>
<p>Бренды автомобилей:</p>
<!--/*@thymesVar id="getId" type="ru.meklaw.autocontroller.models.VehicleBrand"*/-->
<div th:each="brand : ${brands}">
  <a th:href="@{/brands/{id}(id=${brand.id})}"
          th:text="${brand.getId() + ', ' + brand.getName() + ', ' + brand.getType() + ', ' + brand.getTank() + ', ' + brand.getLoadCapacity() + ', ' + brand.getNumberOfPlaces()}"></a>
</div>
<br />
<a th:href="@{/brands/create}" th:text="'Create new brand'"></a>
<br />
<a th:href="@{/enterprises}" th:text="'Enterprises'"></a>
</body>
</html>
