<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enterprise List</title>
</head>
<body>
<p>Enterprise List</p>
<div th:each="enterprise : ${enterprises}">
    <a th:href="@{/enterprises/{id}(id=${enterprise.id})}"
       th:text="'ID: ' + ${enterprise.id} + ', Name: ' + ${enterprise.name} + ', City: ' + ${enterprise.city} + ', Founded: ' + ${enterprise.founded.toString()}"></a>
</div>
<br/>
<a th:href="@{/vehicles}" th:text="Vehicles"></a>
<br/>
<a th:href="@{/brands}" th:text="Brands"></a>
</body>
</html>
