<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enterprise List</title>
</head>
<body>
<p>Enterprise List</p>
<div th:each="enterprise : ${enterprises}">
    <div th:text="'ID: ' + ${enterprise.id}"></div>
    <div th:text="'Name: ' + ${enterprise.name}"></div>
    <div th:text="'City: ' + ${enterprise.city}"></div>
    <div th:text="'Founded: ' + ${enterprise.founded.toString()}"></div>

    <br>
</div>
<br/>
<a th:href="@{/vehicles}" th:text="'Vehicles'"></a>
<br/>
<a th:href="@{/brands}" th:text="'Brands'"></a>
</body>
</html>
